{% load static %}
<!DOCTYPE html>
<html lang="en">

  

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>shopaddict</title>
<head>
    <!-- Bootstrap core CSS -->
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>


<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="{% static 'flags/sprite.css' %}"> -->

   
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/home.css' %}">
 
    <script type="text/javascript" src="{% static 'login/js/home.js' %}"></script>

    <!-- Custom styles for this template -->
    <!-- <link href="css/shop-homepage.css" rel="stylesheet"> -->
<style type="text/css">
  
  @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css');
.bg-dark {
    background-color: #343a40!important;
}
</style>
  </head>
<body>

    <br><br><div align="center"><h1 > Wel-Come To Home</h1>
<br><br><a href="/login/logout/">Log out</a>
    </div>
